<%= form_for(@sweeper) do |f| %>
  <% if @sweeper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sweeper.errors.count, "error") %> prohibited this sweeper from being saved:</h2>

      <ul>
      <% @sweeper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :object_class %><br>
    <%= f.text_field :object_class %>
  </div>
  <div class="field">
    <%= f.label :object_id %><br>
    <%= f.number_field :object_id %>
  </div>
  <div class="field">
    <%= f.label :object_name %><br>
    <%= f.text_field :object_name %>
  </div>
  <div class="field">
    <%= f.label :dn %><br>
    <%= f.text_field :dn %>
  </div>
  <div class="field">
    <%= f.label :treebase %><br>
    <%= f.text_field :treebase %>
  </div>
  <div class="field">
    <%= f.label :rfc2254_filter %><br>
    <%= f.text_field :rfc2254_filter %>
  </div>
  <div class="field">
    <%= f.label :action_type %><br>
    <%= f.text_field :action_type %>
  </div>
  <div class="field">
    <%= f.label :action_date %><br>
    <%= f.date_select :action_date %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
