<div id="<%= @column['column_name'] %>-group" class="form-group"
     ng-class="{ 'has-error' : <%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine && <%= @singlename %>_submitted }"
     >
    <label><%= @column['column_name'].titleize %></label>
    <%- if @column['data_type'] == 'tinyint' %>
      <input type="checkbox" <%= form_attributes(@column).join(' ') %>  />

    <%- elsif @column['data_type'] == 'int' && is_foreign_key?(@column['column_name']) %>
      <%- fk_name = @column['column_name'].gsub(/_id$/,'') %>
      <!-- get the range for the foreign class  -->
      <select <%= form_attributes(@column).join(' ') %>            
          ng-options="<%= fk_name %>.id as <%= fk_name %>.name for <%= fk_name %> in <%= fk_name.pluralize %>">
          <option value="">Select <%= fk_name.titleize %></option>
      </select>
    <%- elsif @column['data_type'] == 'int' %>

      <input type="number" <%= form_attributes(@column).join(' ') %>   />
      <span ng-show="form.<%= @column['column_name'] %>.$error.integer">This is not a valid integer!</span>
      <span ng-show="form.<%= @column['column_name'] %>.$error.min || form.<%= @column['column_name'] %>.$error.max">
          The value must be in range 0 to 4294967295 </span>
    <% else  # default to char/varchar %>
      <input type="text" <%= form_attributes(@column).join(' ') %>   />
      <span class="help-block" 
            ng-show="<%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine">
          This value in this field is invalid
      </span>
      <span class="help-block" 
            ng-show="<%= @singlename %>_errors.<%= @column['column_name'] %>">
          {{ <%= @singlename %>_errors.<%= @column['column_name'] %> }}>
      </span>    
    <% end %>

</div>
