<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @attribute_rule.id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @attribute_rule.country %>
</p>

<p>
  <strong>Sitecode:</strong>
  <%= @attribute_rule.sitecode %>
</p>

<p>
  <strong>Company:</strong>
  <%= @attribute_rule.company %>
</p>

<p>
  <strong>Department:</strong>
  <%= @attribute_rule.department %>
</p>

<p>
  <strong>User type:</strong>
  <%= @attribute_rule.user_type %>
</p>

<p>
  <strong>Attribute:</strong>
  <%= @attribute_rule.attribute %>
</p>

<p>
  <strong>Attribute value:</strong>
  <%= @attribute_rule.attribute_value %>
</p>

<p>
  <strong>Member of:</strong>
  <%= @attribute_rule.member_of %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @attribute_rule.operation %>
</p>

<p>
  <strong>Update attribute:</strong>
  <%= @attribute_rule.update_attribute %>
</p>

<p>
  <strong>New value:</strong>
  <%= @attribute_rule.new_value %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @attribute_rule.feature %>
</p>

<p>
  <strong>Group:</strong>
  <%= @attribute_rule.group %>
</p>

<p>
  <strong>Active:</strong>
  <%= @attribute_rule.active %>
</p>

<p>
  <strong>Activation date:</strong>
  <%= @attribute_rule.activation_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @attribute_rule.comments %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @attribute_rule.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @attribute_rule.updated_by %>
</p>

<%= link_to 'Edit', edit_attribute_rule_path(@attribute_rule) %> |
<%= link_to 'Back', attribute_rules_path %>
