'use strict';

<% 

# shorten the accessor name
singlename = singular_table_name
 
# add the belongs_to and has many related classes  
 @classes = []
 table_info['belongs_to'].flatten.uniq.each do |key|
   @classes << key.to_model_name
 end
 
 table_info['has_many'].flatten.uniq.each do |key|
   @classes << key.to_model_name
 end
%>

/* module */
<% 
['list','detail','form'].each do |tmpl|
template_path = template("restangular/#{tmpl}_controller.js.erb") %>

<%= Erubis::Eruby.new(File.read(template_path)).evaluate( self ) %>

<% end %>

// setup the routes to the states

angular.module('<%= appname || namespace || "mainapp" %>').config(['$stateProvider', 
function (state_provider) {
        state_provider
  .state('<%= plural_table_name %>', {
  abstract: true,
  url: '/<%= plural_table_name %>', 
  template:  '<h1><%= model_name.pluralize %></h1><div ui-view></div>' ,
  controller: '<%= model_name %>ListCtrl'
  })
<% 
path = namespaced_url(plural_table_name)
# remove the leading plural table name for nested states
models.select{|m| m[:name].match(path) }.each do |model|   %>     
.state('<%= model[:name] %>', {
  url: '<%= model[:url].sub("/#{plural_table_name}",'') %>', 
  templateUrl:  '<%= model[:template] %>' ,
  controller: '<%= model[:controller] %>'
  })
<% end %>
 ;
}]);
