<div id="<%= @column['column_name'] %>-group" class="form-group"
     ng-class="{ 'has-error' : <%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine && <%= @singlename %>_submitted }"
     >
    <label><%= @column['column_name'].titleize %></label>
    <select <%= form_attributes(@column).join(' ') %>  >
        <option value="F">Female</option>
        <option value="M">Male</option>
    </select>
    <span class="help-block" 
          ng-show="<%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine">
        This value in this field is invalid
    </span>
    <span class="help-block" 
          ng-show="<%= @singlename %>_errors.<%= @column['column_name'] %>">
        {{ <%= @singlename %>_errors.<%= @column['column_name'] %> }}>
    </span>  
</div>
