<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @lar_rule.id %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @lar_rule.feature %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @lar_rule.feature_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @lar_rule.country %>
</p>

<p>
  <strong>Sitecode:</strong>
  <%= @lar_rule.sitecode %>
</p>

<p>
  <strong>Company:</strong>
  <%= @lar_rule.company %>
</p>

<p>
  <strong>Allow:</strong>
  <%= @lar_rule.allow %>
</p>

<p>
  <strong>Active:</strong>
  <%= @lar_rule.active %>
</p>

<p>
  <strong>Activation date:</strong>
  <%= @lar_rule.activation_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @lar_rule.comments %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @lar_rule.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @lar_rule.updated_by %>
</p>

<%= link_to 'Edit', edit_lar_rule_path(@lar_rule) %> |
<%= link_to 'Back', lar_rules_path %>
