<% 
# shorten this
singlename = singular_table_name

field_names = field_list

# override the defaults with a given field list
unless this_fields[:list].nil?
  field_names = this_fields[:list].map{|name| name.to_s  }

  # get the name of the principle field
  namefield_name = field_names.select{|name| ['name','title'].include?(name)}.first 

  # and the description field
  descfield_name = field_names.select{|name|['description','info',
      'summary','comment','snippet'].include?(name) }.first
  end

%>

<!--  - generated from builder/templates/ng/modal-list.html.erb -->
<div class="container list-container <%= singlename %>-list-container">
  <div class="row search-row">
    <div class="col-md-12">

      Search: <input ng-model="search_filter">
      Sort by:
      <select ng-model="orderProp">

        <%  field_names.each do |name|  %> 
          <%= "<option value='#{name}'>#{name.titleize}</option>"  %>
        <% end %>
      </select>

      <div style="float: right">
        create a <a ng-click="new_<%= singlename %>()">New</a> <%= model_name %>
      </div>


    </div>
  </div>

  <div class="row list-row">
    <div class="col-md-4">


      <ul class="<%= singlename %>-list">
        <li ng-repeat="<%= singlename %> in <%= plural_table_name %> | filter:search_filter | orderBy:orderProp" >

          

          <% unless namefield_name.nil?  %>
            <a href="/#/<%= plural_table_name %>/{{<%= singlename %>.id}}">{{<%= singlename %>.<%= namefield_name %>}}</a>
          <% end %>
          <% unless descfield_name.nil?  %>
            <p>{{<%= singlename %>.<%= descfield_name %> }}</p>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
  
 
  <div class="row list-row">

    <div class="col-md-4 <%= singlename %>-item" ng-repeat="<%= singlename %> in <%= plural_table_name %> | filter:search_filter | orderBy:orderProp" >
      <p>
      <% if namefield_name.nil?  %>
        <a ng-click="view_<%= singlename%>(<%= singlename%>)"> view more details
          <i class="glyphicon glyphicon-search">  </i>
        </a>
      <% else %>
        <a ng-click="view_<%= singlename%>(<%= singlename%>)">
          {{<%= singlename %>.<%= namefield_name %>}}
          <i class="glyphicon glyphicon-search"></i>
        </a>
      <% end %>
        <span ng-if="can_edit == true">
          <a ng-click="edit_<%= singlename%>(<%= singlename%>)" > edit
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </span>
      </p>
      
    <% unless descfield_name.nil?  %>
      <p>{{<%= singlename %>.<%= descfield_name %> }}</p>
    <% end %>

      <dl>
      <% field_names.each do |key| %>
        <dt><%= key.titleize %></dt>
        <dd class='<%= singlename %>-<%= key %>'>
        <% if key =~ /_id$/ && key.sub(/_id$/,'') != singlename %>
          <a href="/#/<%= namespace.nil? ? "" : namespace + '/' %><%= key.sub(/_id$/,'').tableize %>/{{<%= singlename %>.<%= key %>}}" >
            view <%= key.titleize %> {{<%= singlename %>.<%= key %>}}
          </a>
        <% else %>
          {{<%= singlename %>.<%= key %>}}
        <% end %>
        </dd>
      <% end %>
    </dl>
    </div>

  </div> 
  
  
  
</div>
