<% 
# shorten this
singlename = singular_table_name

field_names = field_list

# override the defaults with a given field list
unless this_fields[:form].nil?
  field_names = this_fields[:form].map{|name| name.to_s  }

  # get the name of the principle field
  namefield_name = field_names.select{|name| ['name','title'].include?(name)}.first 

  # and the description field
  descfield_name = field_names.select{|name|['description','info',
      'summary','comment','snippet'].include?(name) }.first
end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style="margin:15px;">


      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">

        <%  field_names.each do |name|  %> 
     	  <%= "<option value='#{name}'>#{name.titleize}</option>"  %>
     	<% end %>
      </select>


    </div>
    <div class="span10">


      <table class="<%= singlename %>-table list-table table-striped">
        <thead>
          <tr>

            <th><!-- link column --></th>

            <% field_names.each do |key| %>
              <th><%= key.titleize %> </th>
            <% end %>
          </tr>
        </thead>

        <tfoot>
        <td colspan="<%= field_names.size() + 1 %>">
          <div class="pagination pull-right">
            <ul>
              <li ng-class="prevPageDisabled()">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()"
              ng-class="{active: n == currentPage}" ng-click="setPage(n)">
              <a href="#">{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
              <a href ng-click="nextPage()">Next »</a>
            </li>
            </ul>
          </div>
        </td>
        </tfoot>

        <tbody> 
          <tr ng-repeat="<%= singlename %> in <%= plural_table_name %> | offset: currentPage*itemsPerPage | filter:query | orderBy:orderProp:reverse | limitTo: itemsPerPage" ng-class="rowClass(<%= singlename %>)">

            <td>
              <a href="/#/<%= namespace.nil? ? "" : namespace + '/' %><%= plural_table_name %>/{{<%= singlename %>.id}}" >
                <i class="glyphicon glyphicon-search"></i>
              </a>
            </td>

            <% field_names.each do |key| %>
              <td>{{<%= singlename %>.<%= key %>}}</td>
            <% end %>
          </tr>
        </tbody>

      </table>

    </div>
  </div>
</div>
