<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
 
 		<!-- rename the fields and enable accordingly
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        -->
        
     	<% 
     	  default_namefield = nil
     	  singlename = singular_table_name
     	  columns = schema['columns']
     	
     	  columns.each_pair do |name,column|  %> 
     	  <%= "<option value='#{name}'>#{name.titleize}</option>"  %>
     	  <%
     	  # get the name of the first field that is not called 'id' as default  
     	  if default_namefield.nil? && name != 'id' && name !~ /_id/  
    		# use this column unless it is the id primary key or a foreign key
     	    default_namefield = column
     	  end %>
     	<% end %>
      </select>


    </div>
    <div class="span10">
      <!--Body content-->
      
      <%  # determine the display field names
      namefield = columns['name'] || columns['title'] || default_namefield
      descfield = columns['description'] || columns['info'] || 
      		columns['summary'] || columns['comment'] || columns['snippet']
      %>

      <ul class="<%= model_name %>">
        <li ng-repeat="<%= singlename %> in <%= plural_table_name %> | filter:query | orderBy:orderProp" class="thumbnail">
           <% unless columns['imageUrl'].nil?   %>
            <a href="#/<%= plural_table_name %>/{{<%= singlename%>.id}}" class="thumb"><img ng-src="{{<%= singlename %>.imageUrl}}"></a>
          <% end %>
          <a href="#/<%= plural_table_name %>/{{<%= singlename %>.id}}">{{<%= singlename %>.<%= namefield['column_name'] %>}}</a>
          <% unless descfield.nil?  %>
            <p>{{<%= singlename %>.descfield['column_name']}}</p>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>
