<%= form_for(@last_insert_id) do |f| %>
  <% if @last_insert_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@last_insert_id.errors.count, "error") %> prohibited this last_insert_id from being saved:</h2>

      <ul>
      <% @last_insert_id.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
