<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @queue_op.country %>
</p>

<p>
  <strong>Sitecode:</strong>
  <%= @queue_op.sitecode %>
</p>

<p>
  <strong>Company:</strong>
  <%= @queue_op.company %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @queue_op.feature %>
</p>

<p>
  <strong>User:</strong>
  <%= @queue_op.user_id %>
</p>

<p>
  <strong>Qid:</strong>
  <%= @queue_op.qid %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @queue_op.operation %>
</p>

<p>
  <strong>New value:</strong>
  <%= @queue_op.new_value %>
</p>

<p>
  <strong>Old value:</strong>
  <%= @queue_op.old_value %>
</p>

<p>
  <strong>Event:</strong>
  <%= @queue_op.event_id %>
</p>

<p>
  <strong>Old num:</strong>
  <%= @queue_op.old_num %>
</p>

<p>
  <strong>New num:</strong>
  <%= @queue_op.new_num %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @queue_op.comment %>
</p>

<p>
  <strong>On hold:</strong>
  <%= @queue_op.on_hold %>
</p>

<p>
  <strong>Rule table:</strong>
  <%= @queue_op.rule_table %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @queue_op.rule_id %>
</p>

<p>
  <strong>Rule source:</strong>
  <%= @queue_op.rule_source %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @queue_op.transaction_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @queue_op.priority %>
</p>

<p>
  <strong>Simulate only:</strong>
  <%= @queue_op.simulate_only %>
</p>

<p>
  <strong>Domain name:</strong>
  <%= @queue_op.domain_name %>
</p>

<p>
  <strong>Dn:</strong>
  <%= @queue_op.dn %>
</p>

<%= link_to 'Edit', edit_queue_op_path(@queue_op) %> |
<%= link_to 'Back', queue_ops_path %>
