<h1>Listing issues</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Object</th>
      <th>Object name</th>
      <th>Object class</th>
      <th>Issue type</th>
      <th>Comments</th>
      <th>Updated at</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.id %></td>
        <td><%= issue.object_id %></td>
        <td><%= issue.object_name %></td>
        <td><%= issue.object_class %></td>
        <td><%= issue.issue_type %></td>
        <td><%= issue.comments %></td>
        <td><%= issue.updated_at %></td>
        <td><%= issue.updated_by %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
