<h1>Listing companies</h1>

<table>
  <thead>
    <tr>
      <th>Company code</th>
      <th>Dn</th>
      <th>Company description</th>
      <th>Business category</th>
      <th>Updated at</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_code %></td>
        <td><%= company.dn %></td>
        <td><%= company.company_description %></td>
        <td><%= company.business_category %></td>
        <td><%= company.updated_at %></td>
        <td><%= company.updated_by %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
