
<div id="<%= @column['column_name'] %>-group" class="form-group"
     ng-class="{ 'has-error' : <%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine && <%= @singlename %>_submitted }"
     >
    <label><%= @column['column_name'].titleize %></label>
    <input type="text"  <%= form_attributes(@column).join(' ') %>
           datepicker-popup="{{date_format}}" 
           is-open="datepicker_opened" 
           datepicker-options="dateOptions" date-disabled="date_disabled(date, mode)" 
           ng-required="true" close-text="Close" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="date_open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    <label>Format:</label> <select class="form-control" 
                                   ng-model="date_format" ng-options="f for f in date_formats"><option></option></select>
    <span class="help-block" 
          ng-show="<%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine">
        This value in this field is invalid
    </span>
    <span class="help-block" 
          ng-show="<%= @singlename %>_errors.<%= @column['column_name'] %>">
        {{ <%= @singlename %>_errors.<%= @column['column_name'] %> }}>
    </span>  
</div>
