
<div id="<%= @column['column_name'] %>-group" class="form-group"
     ng-class="{ 'has-error' : <%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine && <%= @singlename %>_submitted }"
     >
  <label><%= @column['column_name'].titleize %></label>
  <textarea <%= form_attributes(@column).join(' ') %>  <%=  rows_and_columns(@column).join(' ') %> >
  </textarea>
  <span class="help-block" 
        ng-show="<%= @singlename %>Form.<%= @column['column_name'] %>.$invalid && !<%= @singlename %>Form.<%= @column['column_name'] %>.$pristine">
    This value in this field is invalid
  </span>
  <span class="help-block" 
        ng-show="<%= @singlename %>_errors.<%= @column['column_name'] %>">
    {{ <%= @singlename %>_errors.<%= @column['column_name'] %> }}>
  </span>  
</div>



