<% 
# shorten this
singlename = singular_table_name

rejected_columns = fields.fetch(:except,['id','updated_at','created_at'])

field_names = field_list.reject{|col_name| rejected_columns.include?(col_name.to_sym)}

# override the defaults with a given field list
unless this_fields[:detail].nil?
  field_names = this_fields[:detail].map{|name| name.to_s  }
end
%>


<div class="container-fluid">
    
        
    <h1>Listing <%= plural_table_name %></h1>

    <div class="object-table-container <%= singlename %>-table-container">
     <table class="<%= singlename %>-table list-table table-striped">
        <thead>
            <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <%  next unless field_names.include?(attribute.name) %>
                  <th><%= attribute.human_name %></th>
                <% end -%>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singlename %>| %>
            <tr>
                <% attributes.reject(&:password_digest?).select{|attr| field_names.include?(attr.name)}.each do |attribute| %>          
                  <td><%%= <%= singlename %>.<%= attribute.name %> %></td>
                <% end %>
                <td><%%= link_to 'Show', @<%= singlename %> %></td>
                <td><%%= link_to 'Edit', edit_<%= singlename %>_path(<%= singlename %>) %></td>
                <td><%%= link_to 'Destroy', <%= singlename %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <%% end %>
        </tbody>
    </table>

    </div>

    <%%= link_to 'New <%= human_name %>', new_<%= singlename %>_path %>
 
</div>