<h1>Listing templates</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Language</th>
      <th>Subject</th>
      <th>Body content</th>
      <th>Comment</th>
      <th>Updated at</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.id %></td>
        <td><%= template.name %></td>
        <td><%= template.language %></td>
        <td><%= template.subject %></td>
        <td><%= template.body_content %></td>
        <td><%= template.comment %></td>
        <td><%= template.updated_at %></td>
        <td><%= template.updated_by %></td>
        <td><%= link_to 'Show', template %></td>
        <td><%= link_to 'Edit', edit_template_path(template) %></td>
        <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_template_path %>
