<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @email_queue.id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @email_queue.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @email_queue.user_id %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @email_queue.transaction_id %>
</p>

<p>
  <strong>Queue:</strong>
  <%= @email_queue.queue_id %>
</p>

<p>
  <strong>Old moc number:</strong>
  <%= @email_queue.old_moc_number %>
</p>

<p>
  <strong>New moc number:</strong>
  <%= @email_queue.new_moc_number %>
</p>

<p>
  <strong>Change date:</strong>
  <%= @email_queue.change_date %>
</p>

<p>
  <strong>Revoke date:</strong>
  <%= @email_queue.revoke_date %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @email_queue.headers %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @email_queue.sent_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @email_queue.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @email_queue.updated_by %>
</p>

<%= link_to 'Edit', edit_email_queue_path(@email_queue) %> |
<%= link_to 'Back', email_queues_path %>
