<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Employee type:</strong>
  <%= @user.employee_type %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @user.guid %>
</p>

<p>
  <strong>Sip uri:</strong>
  <%= @user.sip_uri %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @user.account_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @user.given_name %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @user.sn %>
</p>

<p>
  <strong>Computer user:</strong>
  <%= @user.computer_user_id %>
</p>

<p>
  <strong>Mail nickname:</strong>
  <%= @user.mail_nickname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Sitecode:</strong>
  <%= @user.sitecode %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Office name:</strong>
  <%= @user.office_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @user.telephone_number %>
</p>

<p>
  <strong>Other telephone:</strong>
  <%= @user.other_telephone %>
</p>

<p>
  <strong>Dn:</strong>
  <%= @user.dn %>
</p>

<p>
  <strong>Domain name:</strong>
  <%= @user.domain_name %>
</p>

<p>
  <strong>Ad disabled:</strong>
  <%= @user.ad_disabled %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Location profile:</strong>
  <%= @user.location_profile %>
</p>

<p>
  <strong>Federation:</strong>
  <%= @user.federation %>
</p>

<p>
  <strong>Remote access:</strong>
  <%= @user.remote_access %>
</p>

<p>
  <strong>Archiving:</strong>
  <%= @user.archiving %>
</p>

<p>
  <strong>Option flags:</strong>
  <%= @user.option_flags %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @user.pic %>
</p>

<p>
  <strong>Rcc:</strong>
  <%= @user.rcc %>
</p>

<p>
  <strong>P2p audio:</strong>
  <%= @user.p2p_audio %>
</p>

<p>
  <strong>P2p video:</strong>
  <%= @user.p2p_video %>
</p>

<p>
  <strong>Anonymous meetings:</strong>
  <%= @user.anonymous_meetings %>
</p>

<p>
  <strong>Uc:</strong>
  <%= @user.uc %>
</p>

<p>
  <strong>Tel uri:</strong>
  <%= @user.tel_uri %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @user.comments %>
</p>

<p>
  <strong>Group cache:</strong>
  <%= @user.group_cache %>
</p>

<p>
  <strong>Policy cache:</strong>
  <%= @user.policy_cache %>
</p>

<p>
  <strong>Frozen from:</strong>
  <%= @user.frozen_from %>
</p>

<p>
  <strong>Frozen until:</strong>
  <%= @user.frozen_until %>
</p>

<p>
  <strong>Proxy addresses:</strong>
  <%= @user.proxy_addresses %>
</p>

<p>
  <strong>User account control:</strong>
  <%= @user.user_account_control %>
</p>

<p>
  <strong>Shell department number:</strong>
  <%= @user.shell_department_number %>
</p>

<p>
  <strong>Shell default billing:</strong>
  <%= @user.shell_default_billing %>
</p>

<p>
  <strong>Shell customer billing code:</strong>
  <%= @user.shell_customer_billing_code %>
</p>

<p>
  <strong>Shell telephone extension:</strong>
  <%= @user.shell_telephone_extension %>
</p>

<p>
  <strong>Shell email node:</strong>
  <%= @user.shell_email_node_id %>
</p>

<p>
  <strong>Shell gender:</strong>
  <%= @user.shell_gender %>
</p>

<p>
  <strong>Shell known by name:</strong>
  <%= @user.shell_known_by_name %>
</p>

<p>
  <strong>Shell modify auth:</strong>
  <%= @user.shell_modify_auth %>
</p>

<p>
  <strong>Shell office locality:</strong>
  <%= @user.shell_office_locality %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @user.updated_by %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
