<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @feature_rule.id %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @feature_rule.feature %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @feature_rule.feature_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @feature_rule.country %>
</p>

<p>
  <strong>Sitecode:</strong>
  <%= @feature_rule.sitecode %>
</p>

<p>
  <strong>Company:</strong>
  <%= @feature_rule.company %>
</p>

<p>
  <strong>Department:</strong>
  <%= @feature_rule.department %>
</p>

<p>
  <strong>User type:</strong>
  <%= @feature_rule.user_type %>
</p>

<p>
  <strong>Deny:</strong>
  <%= @feature_rule.deny %>
</p>

<p>
  <strong>Active:</strong>
  <%= @feature_rule.active %>
</p>

<p>
  <strong>Activation date:</strong>
  <%= @feature_rule.activation_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @feature_rule.comments %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @feature_rule.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @feature_rule.updated_by %>
</p>

<%= link_to 'Edit', edit_feature_rule_path(@feature_rule) %> |
<%= link_to 'Back', feature_rules_path %>
